@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <img src="http://2.bp.blogspot.com/-heknJCT7_Iw/VSMoQs0KKSI/AAAAAAABXiA/lrlRADofX9o/s1600/volvo%2Blogo.jpg" />
</div>